<%- include('../partials/bootstrapH.ejs') %>
  <%- include('../partials/adminheader.ejs') %>

    <div class="container mt-2">
      <h1 style="text-decoration: none;" class="text-light">Category Section</h1>
      <a href="/admin/category/add_category"><button class="btn btn-outline-primary">Add a Category</button></a>
      <div class="d-flex justify-content-center">
        <div class="row justify-content-center mt-5">
          <% cats.forEach((cat)=>{ %>

            <div class="card mx-1 my-2 align-items-center" style="width: 11.5rem; border-radius: 1rem">
              <div style="align-items: center; justify-content: center;" class="px-1">
                <a href=""><img src="/CategoryImg/<%=cat._id%>.jpg" class="card-img-top" alt="..."
                    style="width: 11.5rem; height: 10rem; border-radius: 1.25rem;" /></a>
                </div>
                <div class="card-body align-items-center justify-content: center" style="padding: 0;">
                <h5 class="card-title mb-1"
                  style="font-size: 15px; margin-bottom: 3px; margin-top: 3px; font-weight: 700;align-items: center; color: #424246;">
                  <%= cat.name %>
                </h5>

                <div style="margin-bottom: 10px;">
                  <a href="/admin/editcat" style="font-size: 10px;margin-right: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg></a>
                  <a href="/admin/deletecat/<%=cat._id%>" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm10.618-3L15 2H9L7.382 4H3v2h18V4z"></path></svg></a>
                </div>
              </div>
            </div>
            <% })%>
        </div>
      </div>
      </div>
    </div>


      <%- include('../partials/bootstrapF.ejs') %>