<%- include('../partials/bootstrapH.ejs') %>
  <%- include('../partials/adminheader.ejs') %>

    <div class="container mt-2">
      <h1 style="text-decoration: underline;" class="text-light">Category Section</h1>
      <a href="/admin/category/add_category"><button class="btn btn-outline-primary">Add a Category</button></a>
      <div class="d-flex justify-content-center">
        <div class="row justify-content-center mt-5">
          <% cats.forEach((cat)=>{ %>

            <div class="card mx-1 my-2 align-items-center" style="width: 11.5rem; border-radius: 1rem">
              <div style="align-items: center; justify-content: center;" class="px-1">
                <a href=""><img src="/CategoryImg/<%=cat._id%>.jpg" class="card-img-top" alt="..."
                    style="width: 11.5rem; height: 10rem; border-radius: 1.25rem;" /></a>
                </div>
                <div class="card-body align-items-center justify-content: center" style="padding: 0;">
                <h5 class="card-title mb-1"
                  style="font-size: 15px; margin-bottom: 3px; margin-top: 3px; font-weight: 700;align-items: center; color: #424246;">
                  <%= cat.name %>
                </h5>
              </div>
            </div>
            <% })%>
        </div>
      </div>
      </div>
    </div>


      <%- include('../partials/bootstrapF.ejs') %>