<%- include('../partials/bootstrapH.ejs') %>
  <%- include('../partials/adminheader.ejs') %>
  
          <section class="h-100 h-custom" style="background-color: #000000;">
              <div class="container py-5 h-100">
                  <div class="row d-flex justify-content-center  h-100" style="position: sticky;">
                      <div class="col">
                          <div class="card">
                              <div class="card-body p-4">
                                  <div class="row">
                                      <h5 class="mb-3" style=" font-family: 'Poppins', sans-serif; font-weight: 700;"><a
                                              href="/admin" class="text-body"
                                              style="text-decoration: none; margin-left: 10px;"><svg
                                                  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                  viewBox="0 0 24 24"
                                                  style="fill: rgba(0, 0, 0, 1); margin-right: 10px; margin-bottom: 5px;">
                                                  <path
                                                      d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z">
                                                  </path>
                                              </svg>Back to Home</a></h5>
                                      <hr>
                                      <div class="d-flex justify-content-between align-items-center mb-4">
                                          <div>
                                              <a href="/admin/addcoupon" class="mb-1 btn btn-outline-success" style="font-size: 150%;">Add Coupon</a>
                                          </div>
                                          <div>
                                              <p class="mb-0"><span class="text-muted"></span> </p>
                                          </div>
                                      </div>   
                                      <% let count=1; %>
                                      <% coupons.forEach((coupon)=>{%>
                                              <div class="card mb-3">
                                                  <div class="card-body">
                                                      <div
                                                          class="d-flex flex-row align-items-center justify-content-between">
                                                          <div>
                                                              <h6><%=count %></h6>
                                                          </div>
                                                          <div class="ms-3 ">
                                                                      <h5
                                                                          style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 500; margin: 0;">
                                                                          <%=coupon.CODE%>
                                                                      </h5>
                                                                      <p class="small mb-0" style="font-size: 70%;">
                                                                      </p>        
                                                          </div>
                                                          <div class="ms-3 ">
                                                              <h5
                                                                  style="font-size: 18px; font-family: 'Poppins', sans-serif; font-weight: 700; margin: 0;">
                                                                  ₹<%=coupon.PRICE %>.00</h5>
                                                              <p class="small mb-0">
                                                                  <!-- category -->
                                                              </p>
                                                          </div>
                                                          <div class="ms-3 ">
                                                                  
                                                                  <p class="small mb-0" style="font-size: 70%;">
                                                                      ID:<%=coupon._id %> 
                                                                  </p>
                                                          </div>
                                                          <div class="ms-3 ">
                                                              <h5
                                                                  style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 700; margin:0;">
                                                                  <span style="font-size: 10px; font-weight: 300;">Expires :</span><%=coupon.EXPIRE.toDateString() %> 
                                                                       
                                                              </h5>
                                                          </div>
                                                          <div class="ms-3 ">
                                                                  <h5   
                                                                  style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 700; margin:0;">
                                                                  <a href="/admin/editcoupon/<%=coupon._id %>"><button style="background: none; border: none;"
                                                                  ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg></button></a>
                                                              </h5>
                                                          </div>
                                                          <div class="ms-3 ">
                                                              <h5 style="font-size: 14px; font-family: 'Poppins', sans-serif; font-weight: 700; margin:0;">
                                                                  <button style="background: none; border: none;"
                                                                      onclick="cancelOrder()"><svg
                                                                          xmlns="http://www.w3.org/2000/svg" width="24"
                                                                          height="24" viewBox="0 0 24 24"
                                                                          style="fill: rgb(0, 0, 0);transform: ;msFilter:;">
                                                                          <path
                                                                              d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                                                                          </path>
                                                                      </svg></button>
                                                              </h5>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <% count++; %>
                                              <%})%> 
                                                      <hr class="my-4">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
  
  
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
              crossorigin="anonymous"></script>
          <script src="https://kit.fontawesome.com/b3e88707b5.js" crossorigin="anonymous"></script>
  
          
  </body>
  
  </html>




  <%- include('../partials/bootstrapF.ejs') %>