<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body style="background: #000000">
<%- include('../partials/userheader.ejs') %>


<section class="h-100 h-custom" style="background-color: #000025;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            
                                <h5 class="mb-3" style=" font-family: 'Poppins', sans-serif; font-weight: 700;"><a href="/myorders" class="text-body" style="text-decoration: none; margin-left: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:; margin-right: 10px;
                                    margin-bottom: 5px;"><path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path></svg>Back to Orders</a></h5>
                                <hr>
                                
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Ordered Products</p>
                                        <p class="mb-0"></p>
                                    </div>
                                    <div>
                                        <p class="mb-0"><span class="text-muted"></span></p>
                                    </div>
                                </div>
                                
                                <% products.forEach((product)=>{%>
                                    
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img src="/ProductImg/<%=product.productDetails._id%>.jpg"
                                                        class="img-fluid rounded-3" alt="Shopping item"
                                                        style="width: 65px;">
                                                </div>
                                                <div class="ms-3 ">
                                                    <h5 style="font-size: 18px; font-family: 'Poppins', sans-serif; font-weight: 700;"><%= product.productDetails.name %></h5>
                                                    <p class="small mb-0">
                                                        <!-- category -->
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center justify-content-center pe-3 ">
                                                <div style="width: 50px;" class=" d-flex align-items-center justify-content-center pe-5 ">

                                                    <p  class=" mb-0 d-flex align-items-center justify-content-center pe-2"><span style="font-size: 14px; font-weight: 900;">Q: </span><%= product?.productQuantity %></p>

                                                </div>
                                                <div style="width: 80px;" class=" d-flex align-items-center justify-content-center pe-3 flex-wrap">

                                                    <h5 class="mb-0" style="font-size: 18px; font-family: 'Poppins', sans-serif; font-weight: 700;">₹<%= product.productDetails.price %>.00</h5>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            
                            <%})%>
                            
                            <hr class="my-4">

                            <div class="d-flex justify-content-between">
                                <h4 class="mb-2">Address</h4>
                                <p class="mb-2" id="subtotal"><%=address.total %> </p>
                            
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Name</p>
                                <p class="mb-2"><%=address.deliveryInfo.username%></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Mobile no.</p>
                                <p class="mb-2" id="total"><%=address.deliveryInfo.mobile%></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Postcode</p>
                                <p class="mb-2" id="total"><%=address.deliveryInfo.postcode%></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Area</p>
                                <p class="mb-2" id="total"><%=address.deliveryInfo.area%></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Landmark</p>
                                <p class="mb-2" id="total"><%=address.deliveryInfo.landmark%></p>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="mb-2">District</p>
                                <p class="mb-2" id="total"><%=address.deliveryInfo.district%></p>
                            </div>
                           
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">
                                    State</p>
                                <p class="mb-2" id="total"><%=address.deliveryInfo.state%></p>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b3e88707b5.js" crossorigin="anonymous"></script>
</body>
</html>
